<div class="row">
  <div class="col-md-6">
    <h6>Existing Roles </h6>
    <table class="table table-data">
      <thead>
        <tr>
          <th>Role</th>
          <th>Last edit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let role of rolePermissionViewModel.roleEntities">
          <td> {{role.name}} </td>
          <td> {{role.updateAt}} </td>
          <td> <input type="checkbox" (click)=removeRoleEntity(role.id) /> </td>
        </tr>
      </tbody>
    </table>
    <h4 class="btn btn-blue" (click)="addRole()">Add new role</h4>
    <table class="table table-data ">
      <thead>
        <tr>
          <th>Role name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let role of rolePermissionViewModel.newRoles">
          <td> <input type="text" class="form-control" [(ngModel)]="role.name" [ngModelOptions]="{standalone: true}" placeholder="Role name"></td>
          <td> <span class="btn" (click)=removeRole(role.id)> X </span> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h6>Existing Permissions</h6>
    <table class="table table table-data">
      <thead>
        <tr>
          <th>Permission</th>
          <th>Last edit</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let entity of rolePermissionViewModel.permissionEntities">
          <td> {{entity.name}} </td>
          <td> {{entity.updateAt}} </td>
          <td> <input type="checkbox" (click)=removePermissionEntity(entity.id) /> </td>
        </tr>
      </tbody>
    </table>
    <h4 class="btn btn-blue" (click)="addPermission()">Add new permission </h4>
    <table class="table table table-data table-data table-hover">
      <thead>
        <tr>
          <th>Permission name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let permission of rolePermissionViewModel.newPermissions">
          <td> <input type="text" class="form-control" [(ngModel)]="permission.name" [ngModelOptions]="{standalone: true}" placeholder="Permission name"></td>
          <td><span class="btn btn-xs" (click)=removePermission(permission.id)> X </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <button (click)="save()" type="button" class="btn btn-blue">Save new</button>
  <button (click)="save()" type="button" class="btn btn-gray">Add later</button>
  <button (click)="saveDelete()" type="button" class="btn btn-red">Delete</button>
</div>
